<h1><%= @user.name %>のフォロワー</h1>
<div>あなたは<%= @followings.count %>人にフォローされてます</div>
<div>あなたのフォロワー<div>
    <% @followings.each do |f| %>
        <div class="col-md-12"><%= gravatar_for f %><p><%= f.name %></p></div>
    <% end %>