<h1><%= @user.name %>をフォロー</h1>
<div>あなたは<%= @followers.count %>人にフォローされてます</div>
<div>あなたをフォローしてる人<div>
    <% @followers.each do |f| %>
        <div class="col-md-12"><%= gravatar_for f %><p><%= f.name %></p></div>
    <% end %>